.rectangle{
    width: 10rem;
    padding: 0.6rem;
    background: var( --var-bg-rectangle);
    color: var(--var-color-titleName);
    font-weight: bold;
    font-size: 1rem;
}

.big-circle {
    position: absolute;
    top: -1rem;
    left: -2rem;
}